<center>
	<div class="panel panel-primary">
   		<div class="panel-heading">
   			<center>
				<b> <%= @stock_info['symbol'] %> (<%= @stock_info['company_name'] %>)</b>
   			</center>
   		</div>
		<br>
		<br>
		<u>Symbol</u>: <%= @stock_info['symbol'] %>
		<br>
		<u>Company Name</u>: <%= @stock_info['company_name'] %>
		<br>
		<u>Exchange</u>: <%= @stock_info['exchange'] %>
		<br>
		<u>Industry</u>: <%= @stock_info['industry'] %>
		<br>
		<u>Website</u>: <%= @stock_info['website'] %>
		<br>
		<u>Description</u>: <%= @stock_info['description'] %>
		<br>
		<u>CEO</u>: <%= @stock_info['ceo'] %>
		<br>
		<u>Issue Type</u>: <%= @stock_info['issue_type'].upcase %>
		<br>
		<u>Sector</u>: <%= @stock_info['sector'] %>
		<br>
		<br>

<%= high_chart("stock_graph", @chart) %>

		<table class="table table-striped table-bordered" id="stock_table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Open</th>
					<th scope="col">High</th>
					<th scope="col">Low</th>
					<th scope="col">Close</th>
					<th scope="col">Volume</th>
					<th scope="col">SMA (5 Days)</th>
				</tr>
			</thead>
		
		<% count = 60 %>		
		<% sum = 0 %>
		<% @stock_chart['chart'].each_with_index do |stock, index| %>
			
			<% count = count + 1 %>
			<tr>
			<% if count >= 101 %> 
			<% sum = stock['close'] + sum %>
			<td><%= stock['date'] %></td>
			<td><%= stock['open'] %></td>
			<td><%= stock['high'] %></td>
			<td><%= stock['low'] %></td>
			<td><%= stock['close'] %></td>
			<td><%= stock['volume'] %></td>
			<td>
			<%= (((@stock_chart['chart'][index]['close']) + (@stock_chart['chart'][index-1]['close']) + (@stock_chart['chart'][index-2]['close']) + (@stock_chart['chart'][index-3]['close'])+ (@stock_chart['chart'][index-4]['close']))/5).round(2)
			%>
			</td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<br>
	<br>
	<%= link_to 'Return', home_index_url  %>
</center>	
		</div>
	</div>
	