<html>
  <head>
    <title>Stockticker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  </body>

 <% if user_signed_in? %>
  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-2">
          <div class="panel panel-primary">
            <div class="panel-heading"><center><b>Watch List</b></center></div>
              <center>
                <%= simple_form_for @add_stock do |f| %>
                  <center>Add Stock</center>
                  <%= f.input :ticker, label: false, :input_html => {:maxlength => 4, :size => 5} %>
                  <br>
                  <center><%= f.button :submit, 'Add'  %></center>
                <% end %>
                
                <% @stocks.each do |stock| %>
                  <tr>
                    <td><%= link_to stock.ticker, stock_path(:id=>stock.id, :ticker=> stock.ticker) %></td>
                    <td><%= link_to 'Delete', stock_path(stock), method: :delete, id: stock.ticker+'_destroy' %></td>
                    <br>
                  </tr>
                <% end %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>    
              </center>
          </div>  
        </div>  

        <div class="col-xs-10">
          <%=yield%>
        </div>
      </div>
    </div>
  </body>
  <% else %>
    <%= yield %>
  <% end %>
</html>   

 
